body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f7ede2; /* Light beige */
}

/* Common button styles */
button, button.remove-button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
}

button.remove-button {
    padding: 5px 10px;
    font-size: 14px;
}

/* General button styles */
button {
    background-color: #5c3c1f; /* Brown */
    color: #f7ede2; /* Light beige */
}

button:hover {
    background-color: #794f2e; /* Darker brown on hover */
}

/* Alarm styles */
.alarm, .stopwatch {
    margin-top: 20px;
    text-align: center;
}

.alarm input[type="time"], .stopwatch button {
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #5c3c1f; /* Brown */
    background-color: #f7ede2; /* Light beige */
    color: #5c3c1f; /* Brown */
    font-family: 'Arial', sans-serif;
}

/* Stopwatch styles */
#stopwatch-display {
    font-size: 36px;
    color: #5c3c1f; /* Brown */
    margin-bottom: 10px;
}

/* Clock styles */
.clock {
    width: 100vw;
    height: 120px;
    border: 10px solid #5c3c1f; /* Brown */
    background-color: #8b5a2b; /* Wood color */
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3); /* Wood texture */
    display: flex;
    justify-content: center;
    align-items: center;
}

#digital-clock {
    color: #e4d1ad; /* Light wood color */
    font-size: 72px;
    font-weight: bold;
}

.timezones {
    margin-top: 20px;
    text-align: center;
}

label {
    font-weight: bold;
    color: #5c3c1f; /* Brown */
}

select {
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #5c3c1f; /* Brown */
    background-color: #f7ede2; /* Light beige */
    color: #5c3c1f; /* Brown */
}
